<nav class="navbar navbar-expand-lg navbar-dark bg-primary navbar-inverse ">
    <a class="navbar-brand ml-5" routerLink="/" style="font-family: 'New Rocker', cursive;"><img width="70px" src="https://freepngimg.com/thumb/goddess_durga_maa/1-2-goddess-durga-maa-png-image.png" alt=""> &nbsp; <span class="maa"></span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mr-5 font-weight-bold">
            <li class="nav-item mr-5">
                <a routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-link btn" routerLink="/"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
            </li>

            <li class="nav-item dropdown mr-5">
                <a routerLinkActive="active" class="nav-link btn " routerLink="/about" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bookmark" aria-hidden="true"></i> About us
                    </a>
            </li>
        </ul>

    </div>
</nav>