<div class="card-columns main">
    <div class="card">
        <img class="card-img-top" [src]=img1 alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">
                नव निर्वाण भगवती मंदिर</h5>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" [src]=img3 alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">श्री राम जानकी मंदिर</h5>
        </div>
    </div>
    <div class="card ">
        <blockquote class="blockquote mb-0">
            <img class="card-img-top" [src]=img4 alt="Card image cap">
        </blockquote>
    </div>
    <div class="card">
        <img class="card-img" [src]=img5 alt="Card image">
        <div class="card-body">
            <h5 class="card-title">चतरा स्कूल</h5>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" [src]=img2 alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">महाबली हनुमान मंदिर चतरा टोल</h5>

        </div>
    </div>
    <div class="card">
        <img class="card-img-top" [src]=img6>

    </div>

</div>