<!-- <div class="header"></div> -->
<slider></slider>
<navbar></navbar>
<!-- <photo-navbar></photo-navbar> -->
<router-outlet></router-outlet>

<div class="card mb-0">
    <div class="card-body">
        <h6>अगर आप चाहते है की ये वेबसाइट <strong class="badge badge-primary">dudahi . xyz</strong> लिंक से खुले तो कृपया donate करिये :&nbsp;&nbsp;<span class="badge badge-secondary"><i class="fa fa-inr" aria-hidden="true"></i> 3</span></h6>
        <div class="card-footer">
            <p>Paytm : <strong>8207474979</strong></p>
            <p>Phone-pay : <strong>8207474979</strong></p>
            <p>Google-pay : <strong>8207474979</strong></p>
            <hr>
            <h2 class="text-center" style="font-family: 'Tangerine', cursive;">Thank You....</h2>
        </div>
    </div>
</div>
<div class="footer text-center">
    <p class="text-light" style="display: inline;">Contact Us On - -&nbsp;&nbsp;&nbsp; </p>
    <a href="https://www.facebook.com/profile.php?id=100024435591010" target="_blank"><i class="fa fa-facebook-square lnk" aria-hidden="true" style="font-size:24px"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="https://www.linkedin.com/in/coding-boy-9892091a4/" target="_blank" class="lnk"><i class="fa fa-linkedin-square" style="font-size:24px"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="https://www.instagram.com/vikasroy75638/" target="_blank" class="lnk"><i class="fa fa-instagram" style="font-size:24px"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</div>