<div>
    <div class="header">
        <h2 style="font-family: 'Arizonia', cursive; font-size: 50px;">About Us ....</h2>
    </div>
    <div class="card-columns mt-5">
        <div class="card text-center">
            <a href="assets/img/1608963064280.jpg" target="_blank"><img class="card-img-top user-main" src="assets/img/1608963064280.jpg" alt="Card image cap"></a>
        </div>
        <div class="card p-3">
            <blockquote class="blockquote mb-0 card-body">
                <p class="usercon"></p>
                <footer class="blockquote-footer">
                    <small class="text-muted">
          developed By -- <cite title="Source Title">Vikas kumar roy</cite>
          </small>
                </footer>
            </blockquote>
            <div class="card-footer">
                <p> if you have any conversation/issue/help then contact me,</p>
                <div class="text-primary"><i class="fa fa-envelope" aria-hidden="true"></i> - Vikasroy7321@gmail.com</div>
            </div>
        </div>
    </div>

    <div class="card-columns mt-5">
        <div class="card text-center">
            <a href="assets/img/SAVE_20201120_211935.jpg" target="_blank"> <img class="card-img-top user-main1" src="assets/img/SAVE_20201120_211935.jpg" alt="Card image cap"></a>
        </div>
        <div class="card p-3">
            <blockquote class="blockquote mb-0 card-body">
                <header class="blockquote-header">
                    <h3>Our team-mates</h3>
                </header>

                <h6>Prakash Kumar Roy</h6>
                <h6>Shivam Kumar Roy</h6>
            </blockquote>
            <div class="card-footer">
                <p> if you have any conversation/issue/help then contact our team-mate,</p>
                <div class="text-primary"><i class="fa fa-phone" aria-hidden="true"></i> - 9570852540</div>
                <p style="display: inline;">Connect with : </p> &nbsp;&nbsp;<a href="https://www.facebook.com/prakashroy8207/" target="_blank"><i class="fa fa-facebook-square lnk" aria-hidden="true" style="font-size:24px"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="https://www.instagram.com/prakashroy_143/" target="_blank" class="lnk"><i class="fa fa-instagram" style="font-size:24px"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="https://twitter.com/prakashroy8207" target="_blank" class="lnk"><i class="fa fa-twitter" style="font-size:24px"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
        </div>
    </div>


</div>