<div class="">
    <mat-tab-group class="py-5">
        <div class="mt-5">
            <mat-tab class="" label="Recent-Click">
                <recent-click></recent-click>
            </mat-tab>

            <mat-tab label="Temple">
                <temple></temple>
            </mat-tab>

            <mat-tab label="River">
                <river></river>
            </mat-tab>

            <mat-tab label="School">
                <school></school>
            </mat-tab>

            <mat-tab label="Roads">
                <roads></roads>
            </mat-tab>

            <mat-tab label="Map">
                <dudahi-map></dudahi-map>
            </mat-tab>

            <mat-tab label="Other">
                <other-pic></other-pic>
            </mat-tab>
        </div>
    </mat-tab-group>
</div>